@import "tailwindcss";



@theme {
  /* 🎨 Colors */
  --color-main-bg: #000000;
  --color-2nd-bg: #111111;
  --color-secondary-text: #9e9e9e;
  --color-primary: #7b3fff;
  --color-arrow-icon: #cccccc;
  --color-header-stroke: #222222;

  /* 🔠 Font */
  --font-urbanist: "Urbanist", sans-serif;

  /* 🔠 Typography scale */
  
  --text-16-regular: [16px var(--font-urbanist) 400];
  --text-16-semibold: [16px var(--font-urbanist) 600];

  --text-24-regular: [24px var(--font-urbanist) 400];
  --text-24-semibold: [24px var(--font-urbanist) 600];

  --text-32-semibold: [32px var(--font-urbanist) 600];

  --text-40-regular: [40px var(--font-urbanist) 400];
  --text-40-semibold: [40px var(--font-urbanist) 600];

  --text-48-semibold: [48px var(--font-urbanist) 600];
}

/* Base styles */
body {
  font-family: var(--font-urbanist);
  background-color: var(--color-main-bg);
  color: white;
}
